<h1>New proposal</h1>

<%= form_for(@proposal) do |f| %>
  <%= f.label :subject %><br />
  <%= f.text_field :subject %><br />

  <%= f.label :body %><br />
  <%= f.text_area :body %><br />

  <%= f.submit %>
<% end %>
