
<div class="title">
» <%= @proposal.subject.upcase %> «
</div>

<div class="heading">
  <b>votes:</b> <%= @proposal.votes %>
</div>

<div class="proposal">
<%= @proposal.body %>
</div>

<%= link_to "Vote up", vote_up_proposal_path(@proposal) %> |
<%= link_to "Vote down", vote_down_proposal_path(@proposal) %> |
<%= link_to "Home", root_path %><br />

<div class="comments">
  <div class="heading">
  COMMENTS:
  </div>

  <% @comments.each do |c| %>
    <br />
    <b><%= c.user.name %></b>:
    <%= c.content %>
  <% end %>
  <%#= link_to "Add comment", new_proposal_comment_path(@proposal) %> <br />

  <p>
  Contribute with your opinion:
  <%= form_for [@proposal, @new_comment] do |f| %>
    <%= f.text_area :content, :size => "40x10" %>
    <%= f.submit "Add the comment" %>
  <% end %>
  </p>
</div>
