<!DOCTYPE html>
<html>
<head>
  <title>Emacsconf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if user_signed_in? %>
  <%= link_to('Sign out', destroy_user_session_path, :method=>'delete') %>
  <% else %>
  <%= link_to('Sign in', new_user_session_path) %> | <%= link_to('Sign up', new_user_registration_path) %>
  <% end %>

  <pre>
   ____ ____ ____ ____ ____ ____ ____ ____ ____
  ||E |||M |||A |||C |||S |||C |||O |||N |||F ||
  ||__|||__|||__|||__|||__|||__|||__|||__|||__||
  |/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
  </pre>


  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>

  <div class="content">
    <%= yield %>
  </div>

  <script type="text/javascript">
    var _gauges = _gauges || [];
    (function() {
      var t   = document.createElement('script');
      t.type  = 'text/javascript';
      t.async = true;
      t.id    = 'gauges-tracker';
      t.setAttribute('data-site-id', '4f7ed1abf5a1f50f8200003f');
      t.src = '//secure.gaug.es/track.js';
      var s = document.getElementsByTagName('script')[0];
      s.parentNode.insertBefore(t, s);
    })();
  </script>
</body>
</html>
