<!DOCTYPE html>
<html>
<head>
  <title>Emacsconf</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>


  <% if user_signed_in? %>
  <%= link_to('Sign out', destroy_user_session_path, :method=>'delete') %>
  <% else %>
  <%= link_to('Sign in', new_user_session_path) %>
  <% end %>

  <pre>
   ____ ____ ____ ____ ____ ____ ____ ____ ____
  ||E |||M |||A |||C |||S |||C |||O |||N |||F ||
  ||__|||__|||__|||__|||__|||__|||__|||__|||__||
  |/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|/__\|
  </pre>


  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, :class => "flash #{key}") %>
  <% end %>

  <div class="content">
    <%= yield %>
  </div>

</body>
</html>
